.extracurricular {
    width: 300px;
    transition: all 0.5s;
    padding: 1vmax;
    margin: 2vmax;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  .extracurricular > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.712);
    width: inherit;
  }
  
  .extracurricular img {
    width: inherit;
  }
  
  .extracurricular:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
  }
  
  @media screen and (max-width: 600px) {
    .extracurricular {
      width: 200px;
    }
  }